*, *::after, *::before{
    box-sizing: border-box;
}
html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
.section-1{
    min-height: 600px;
    background-image: url("beer_bg_blurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.title{
    padding-top: 10%;
    margin-top: 0px;
    font-size: 80px;
    text-align:center;

}

.info-box{
   align-items: center;
    max-width: 500px;
    padding: 5px 15px 5px 15px;
   left: 80%;
   top: 80%;
   margin-left: 15px;
   backdrop-filter: blur(10px) hue-rotate(120deg);
}

.standard-text{
    border-radius: 15px;
    font-size: 23px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color:  #ffffff;
}

.section-2{
    background-color: #719F91;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding-bottom: 30px;

}
.content-wrapper{
    max-width: 1336px;
    margin: 0 auto;
}

.section-img{
    width: 400px;
    height: auto;
    margin: -100px auto;
    
}
.section-img img{
    width: 100%;
    height: 100%;
}
.s2-title{
    font-family: Futura;
    color:  #fffada;
    padding-top: 75px;
    margin-bottom: 15px;
}